{% for __user in _users %}
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ app_services_application_name | replace("user",__user) }}
  namespace: {{ app_services_application_namespace }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io/foreground
spec:
  destination:
    name: ""
    namespace: "{{ _app_namespace | replace("user",__user) }}"
    server: 'https://kubernetes.default.svc'
  project: default
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
  source:
    repoURL: {{ app_services_application_repo }}
    targetRevision: {{ app_services_application_repo_tag }}
    path: {{ app_services_application_repo_path }}
    helm:
      values: |
        activity-tracking:
          image: {{ activity_tracking_service_image }}
        activity-tracking-simulator:
          image: {{ activity_tracking_simulator_image }}
        catalog-app:
          catalogDb:
            image: {{ catalog_db_image }}
          catalogService:
            image: {{ catalog_service_image }}
        globex-ui:
          image: {{ globex_ui_image }}
        inventory-app:
          inventoryService: 
            image: {{ inventory_service_image }}
          inventoryDb:
            image: {{ inventory_db_image }}
        order-placement:
          image: {{ order_placement_service_image }}
        recommendation-engine:
          image: {{ recommendation_engine_image }}
          kafka:
            streams:
              replicationFactor: {{ kafka_replicas }}
        kafka:
          enabled: {{ kafka_enabled }}
          namespace: &namespace {{ _kafka_namespace | replace("user",__user) }}
        kafka-cluster: &kafka
          bootstrapServer: kafka-kafka-bootstrap.{{ _kafka_namespace | replace("user",__user) }}.svc.cluster.local:9092
          securityProtocol: {{ kafka_security_protocol }}
          saslMechanism: {{ kafka_sasl_mechanism }}
          clientId: {{ kafka_client_id }}
          clientSecret: {{ kafka_client_secret }}
        kafka-broker:
          namespace: *namespace
          kafka:
            cluster:
              replicas: {{ kafka_replicas }}
        kafdrop:
          kafka:
            <<: *kafka
            namespace: *namespace

{% endfor %}